<div class="swiper-slide">
  <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-1" style="background-image:url(assets/images/slider/slider-bg-1.jpg)">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                  <div class="slider-content-1 slider-animated-1">
                      <h3 class="animated">new arrival</h3>
                      <h1 class="animated">Summer <br>Collection</h1>
                      <div class="slider-btn btn-hover">
                          <a href="product-details.html" class="btn animated">
                              Shop Now <i class=" ti-arrow-right "></i>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="hero-slider-img-1 slider-animated-1">
                      <img class="animated animated-slider-img-1" src="assets/images/slider/slider-img-1-2.png" alt="">
                      <div class="product-offer animated">
                          <h5>30% <span>Off</span></h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="product-area pb-60 pt-5">
  <div class="container">
      <div class="section-title-tab-wrap mb-75">
          <div class="section-title-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <h2>Hot Products</h2>
          </div>
          <div class="tab-style-1 nav aos-init aos-animate" data-aos="fade-up" data-aos-delay="400" role="tablist">
              <a class="active" href="index.html#pro-1" data-bs-toggle="tab" aria-selected="true" role="tab">New Arrivals </a>
              <a href="index.html#pro-2" data-bs-toggle="tab" class="" aria-selected="false" tabindex="-1" role="tab"> Best Sellers </a>
              <a href="index.html#pro-3" data-bs-toggle="tab" class="" aria-selected="false" tabindex="-1" role="tab"> Sale Items </a>
          </div>
      </div>
      <div class="tab-content jump">
          <div id="pro-1" class="tab-pane active" role="tabpanel">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let product of products">
                <div class="product-wrap mb-35 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="product-img img-zoom mb-25">
                        <a href="product-details.html">
                            <img [src]="product?.thumbnail" alt="" class="product-image">
                        </a>
                        <div class="product-badge badge-top badge-right badge-pink">
                            <span></span>
                        </div>
                        <div class="product-action-wrap">
                            <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                            <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="pe-7s-look"></i>
                            </button>
                        </div>
                        <div class="product-action-2-wrap">
                            <button class="product-action-btn-2" (click)="onAddToCart(product)" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3><a [routerLink]="['/products', product?.id]">{{product?.title}}</a></h3>
                        <div class="product-price">
                            <!-- <span class="old-price">${{product?.price}} </span> -->
                            <span class="new-price">${{product?.price}} </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
          <div id="pro-2" class="tab-pane" role="tabpanel">
              <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-9.png" alt="">
                              </a>
                              <div class="product-badge badge-top badge-right badge-pink">
                                  <span>-10%</span>
                              </div>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Modern Lounge Chairs</a></h3>
                              <div class="product-price">
                                  <span class="old-price">$25.89 </span>
                                  <span class="new-price">$20.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-8.png" alt="">
                              </a>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Modern Swivel Chair</a></h3>
                              <div class="product-price">
                                  <span>$50.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-6.png" alt="">
                              </a>
                              <div class="product-badge badge-top badge-right badge-pink">
                                  <span>-10%</span>
                              </div>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Stylish Dining Chair</a></h3>
                              <div class="product-price">
                                  <span class="old-price">$45.00 </span>
                                  <span class="new-price">$40.00 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-7.png" alt="">
                              </a>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Round Standard Chair</a></h3>
                              <div class="product-price">
                                  <span>$30.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-5.png" alt="">
                              </a>
                              <div class="product-badge badge-top badge-right badge-pink">
                                  <span>-10%</span>
                              </div>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Interior moderno render</a></h3>
                              <div class="product-price">
                                  <span class="old-price">$25.89 </span>
                                  <span class="new-price">$20.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-4.png" alt="">
                              </a>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Stylish Swing Chair</a></h3>
                              <div class="product-price">
                                  <span>$50.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-2.png" alt="">
                              </a>
                              <div class="product-badge badge-top badge-right badge-pink">
                                  <span>-10%</span>
                              </div>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                              <div class="product-price">
                                  <span class="old-price">$45.00 </span>
                                  <span class="new-price">$40.00 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-1.png" alt="">
                              </a>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                              <div class="product-price">
                                  <span>$30.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div id="pro-3" class="tab-pane" role="tabpanel">
              <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-4.png" alt="">
                              </a>
                              <div class="product-badge badge-top badge-right badge-pink">
                                  <span>-10%</span>
                              </div>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Stylish Swing Chair</a></h3>
                              <div class="product-price">
                                  <span class="old-price">$25.89 </span>
                                  <span class="new-price">$20.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-3.png" alt="">
                              </a>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Easy Modern Chair</a></h3>
                              <div class="product-price">
                                  <span>$50.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-5.png" alt="">
                              </a>
                              <div class="product-badge badge-top badge-right badge-pink">
                                  <span>-10%</span>
                              </div>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Interior moderno render</a></h3>
                              <div class="product-price">
                                  <span class="old-price">$45.00 </span>
                                  <span class="new-price">$40.00 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-2.png" alt="">
                              </a>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                              <div class="product-price">
                                  <span>$30.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-1.png" alt="">
                              </a>
                              <div class="product-badge badge-top badge-right badge-pink">
                                  <span>-10%</span>
                              </div>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                              <div class="product-price">
                                  <span class="old-price">$25.89 </span>
                                  <span class="new-price">$20.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-8.png" alt="">
                              </a>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Modern Swivel Chair</a></h3>
                              <div class="product-price">
                                  <span>$50.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-7.png" alt="">
                              </a>
                              <div class="product-badge badge-top badge-right badge-pink">
                                  <span>-10%</span>
                              </div>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Round Standard Chair</a></h3>
                              <div class="product-price">
                                  <span class="old-price">$45.00 </span>
                                  <span class="new-price">$40.00 </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="product-wrap mb-35">
                          <div class="product-img img-zoom mb-25">
                              <a href="product-details.html">
                                  <img src="assets/images/product/product-6.png" alt="">
                              </a>
                              <div class="product-action-wrap">
                                  <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                  <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                      <i class="pe-7s-look"></i>
                                  </button>
                              </div>
                              <div class="product-action-2-wrap">
                                  <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                              </div>
                          </div>
                          <div class="product-content">
                              <h3><a href="product-details.html">Stylish Dining Chair</a></h3>
                              <div class="product-price">
                                  <span>$30.25 </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

